    <!-- About Section -->
    <section id="premi" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Concurs <span class="bold">TRAM</span>disseny 2015</h2>
                    <p>El Concurs <span class='bold'>TRAM</span>disseny 2015 destinat a alumnes de tots els camps de disseny gràfic és el concurs d’idees que seleccionarà els treballs de creativitat i disseny gràfic que sàpiguen aplicar i plasmar d’una manera satisfactòria el concepte d’<em>smart living</em> per a la creació de la línia de marxandatge de la marca <span class="bold">TRAM</span>, que serà utilitzada per a material promocional: productes, objectes de regal i suports promocionals</p>
                    <p>Es pretén ampliar la formació acadèmica de l'alumne de disseny amb un cas real.</p>
                    <p>A partir d'aquesta acció <span class='bold'>TRAM</span> pretén fomentar dissenys gràfics innovadors per així incorporar-los a la seva nova línia de marxandatge.</p>
                    <p>El Concurs <span class='bold'>TRAM</span>disseny 2015 està dotat amb un total de 1.500 euros que es donaran a la millor proposta de disseny gràfic aplicat a tres elements  de marxandatge per a TRAM.</p>
                    <h2>Descarrega't les bases del premi!</h2>
                    <a href="/docs/#.pdf" class="btn btn-default btn-lg"><i class="fa fa-download"></i> Descàrrega</a>
                </div>
            </div>
        </div>
    </section>