<!-- Aside -->
<aside>
  <div class="container">
    <small class="pull-right">Amb la col·laboració de <a href="{{ site.colabora.artinpocket.url }}"><img src="/images/{{ site.colabora.artinpocket.logo }}" alt="{{ site.colabora.artinpocket.description }}" title="{{ site.colabora.artinpocket.description }}"></a> <a href="{{ site.colabora.oxyen.url }}"><img src="/images/{{ site.colabora.oxygen.logo }}" alt="{{ site.colabora.oxygen.description }}" title="{{ site.colabora.oxygen.description }}"></a>
    </small>
  </div>
</aside>