    <!-- Contact Section -->
    <section id="contacte" class="content-section no-padding">
        <div class="contact-section">
            <div class="yellow-bg">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h2>Contacta amb els organitzadors de <span class="bold">TRAM</span>disseny</h2>
                            <p>No dubtis en enviar-nos un correu electrònic per resoldre tot allò que et calgui.</p>
                            {% assign place_data = site.data.places | where:"id", 2 %}
                            {% assign place = place_data | first %}
                            <p><a href="mailto:{{ place.email }}" title="Correu-e {{ place.email }}" rel="external" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Correu-e</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>