    <!-- Serveis Section -->
    <section id="TRAM" class="content-section no-padding text-center">
        <div class="serveis-section">            
            <div class="purple-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <p><a href="http://www.tram.cat/"><span class="bold">TRAM</span></a> és una empresa de transport públic que gestiona les dues xarxes actuals de tramvies a la Regió Metropolitana de Barcelona de la manera més eficient. Treballem per oferir el millor servei als nostres viatgers que diàriament utilitzen el tramvia per desplaçar-se de manera ràpida, còmoda i segura.</p>
                            <p>Fem que les persones gaudeixin mentre les transportem eficientment d’una manera respectuosa amb la societat i el medi ambient.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>