    <!-- Filosofia Section -->
    <section id="veredicte" class="content-section no-padding">
        <div class="filosofia-section">
            <div class="purple-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                        <h2 class="text-center">Acta del  veredicte de premi del Concurs <span class="bold">TRAM</span>disseny 2015</h2>
                        <p>Ja s’ha reunit el jurat seleccionador del concurs de disseny gràfic TRAMdisseny, que va tancar la seva convocatòria el passat 8 de maig a les 00.00h.</p>

                        <p>El jurat està format pels següents membres:</p>

                        <ul>
                          <li><strong>Chema Ibañez</strong>, vocal</li>
                          <li><strong>Mariona Otero</strong>, vocal</li>
                          <li><strong>Xavier Juan</strong> (dissenyador TRAM), Vocal</li>
                          <li><strong>Equip de Marketing – Comunicació TRAM</strong>, Vocal</li>
                          <li><strong>Pep Marés</strong>, d’Artinpocket, secretari</li>
                        </ul>

                        <p>Després d’un anàlisi exhaustiu de les propostes presentades i tot i que hi havia una otorgació d’un sol premi a les bases, la qualitat de les propostes  fa que s’afegeixin dos accèsits que tot i que no obtenen un premi econòmic se’ls hi premia la proposta amb una menció especial.</p>

                        <p>Es procedeix a otorgar els següents premis:</p>

                        <h3>Proposta guanyadora</h3>
                        <p><strong>Montse Balañá  Vergés</strong>. Destaca per la seva creativitat i versatilitat en el disseny, per ser una proposta de disseny no figurativa i aplicable a molts productes de merchandising amb múltiples combinacions. El resultat és elegant i discret.</p>

                        <h3>Accèssit núm. 1</h3>
                        <p><strong>Daniel Garcia Bazaco</strong>. Destaca per comunicar en el seu disseny els valors de la marca TRAM de forma molt clara.</p>

                        <h3>Accèssit núm. 2</h3>
                        <p><strong>Josep Martí Puig i Paula Bito Mosquera</strong>. Per representar la part tecnològica i futurista de TRAM en el seu disseny.</p>
                        </div>
                    </div>
                </div>
        </div>
    </section>