---
layout: compress
---

<!DOCTYPE html>
<html lang="ca">

{% include head.html %}

<body unresolved id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" {% if page.class == 'artwork' %}class="artwork"{% endif %} {% if page.category == 'mur-diari' %}class="mur-diari"{% endif %}>

    {% include header-post.html %}
    <section id="inscriuthi" class="content-section purple-bg__full">
    	<div class="container">
        {{ content }}
        </div>
  	</section>
    {% include map.html %}
    {% include footer.html %}
    {% include aside.html %}

<template is="dom-bind" id="app">

    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Completat l'emmagatzematge en memòria cau! Aquesta aplicació funcionarà offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="networkFirst"
                         precache-file="/precache.json">
      </platinum-sw-cache>
    </platinum-sw-register>

</template>


    <script src="/scripts/app.js"></script>

</body>

</html>
